<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>



        <activity
            android:name="com.app.module.user.module.loading.view.LoadingAct"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tally.App.Loading"
            android:windowSoftInputMode="adjustNothing">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

<!--            <intent-filter>-->
<!--                <action android:name="app_boot_20240527" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->

        </activity>

    </application>

</manifest>